
.icon-book:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-video:before { content: '\e802'; } /* '' */
.icon-info-circled:before { content: '\e803'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-file-code:before { content: '\f1c9'; } /* '' */
